<!--footer-->
<footer class="footer1">
  <div class="container">
  <div class="row"><!-- row -->       
          <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->   
                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                  <h1 class="title-widget">Aloldalak</h1>   
                  <app-footermenu></app-footermenu>
              </li>
            </ul>     
          </div><!-- widgets column left end -->  
          <div class="col-lg-3 col-md-3"><!-- widgets column center -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
             <li class="widget-container widget_recent_news"><!-- widgets list -->
             <h1 class="title-widget">Az oldalt készítette:</h1>
             <div class="footerp"> 
              <h2 class="title-median">Szabó Endre</h2>
              <h2 class="title-median">SZEWAAT.SZE</h2>
              <p><b>E-mail</b> <a href="">szabo.endre05@freemail.hu</a></p>
            </div>
            </li>
          </ul>
          </div>
          <div class="col-lg-3 col-md-3"><!-- widgets column center -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
             <li class="widget-container widget_recent_news"><!-- widgets list -->
             <h1 class="title-widget">Felhasznált technológiák:</h1>
             <div class="footerp"> 
              <p>Angular 5</p>
              <p>Typescript</p>
            </div>
            </li>
          </ul>
          </div>
      </div>
  </div>
  </footer>
  <!--header-->
    <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="copyright">
            © 2017, Angular 2 - a jövő platformja, Szabó Endre
          </div>
        </div>
      </div>
    </div>
  </div>