<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-collapse collapse" id="navbar-main">
        <img id="logo" src="./images/logo.png">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="main">Főoldal</a>
          </li>
          <li>
            <a routerLink="products">Termékek</a>
          </li>
          <li>
            <a routerLink="cart">Kosár</a>
          </li>
          <li>
            <a routerLink="checkout">Kassza</a>
          </li>
          <li>
            <a *ngIf="storageservice.localStorageItem(currentUser) != ''" routerLink="loginpage" (onclick)="setUserLoggedIn(false)">Kijelentkezés</a>
            <a *ngElse routerLink="loginpage" >Bejelentkezés</a>
          </li>

        </ul>
  
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>