<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-collapse collapse" id="navbar-main">
        <img id="logo" src="./images/logo.png">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="main">Főoldal</a>
          </li>
          <li>
            <a routerLink="products">Termékek</a>
          </li>
          <li>
            <a routerLink="cart">Kosár</a>
          </li>
          <li id="logout">
            <a *ngIf="this.storageservice.localStorageItem('currentUser') != '' && this.storageservice.localStorageItem('currentUser') != null"  (click)=this.user.setUserLoggedIn(false)>Kijelentkezés</a>
            <a *ngIf="this.storageservice.localStorageItem('currentUser') == '' || this.storageservice.localStorageItem('currentUser') == null" routerLink="loginpage" >Bejelentkezés</a>

          </li>

        </ul>
  
      </div>
    </div>
  </div>
  <app-submenu></app-submenu>
  <router-outlet></router-outlet>