<app-header></app-header>
<div id="dashboard" class="container">
  <h1 id="welcome" app-highlighter> Üdvözöllek a CyberChapter online könyváruház oldalán!</h1>
  <h2 id="description">Leírás az oldal tartalmáról</h2>
  <p class="appdescription"> Alkalmazásom egy dummy online könyvesbolt app, amelyen a felhasználó böngészhet, kosárba helyezhet, és megvásárolhat termékeket.</p>
  <p class="appdescription"> Backend hiányában az app a termékeket a books.json fájlból, a usereket a users.json fájlból olvassa be.</p>
  <h3> A projekt tartalma: </h3>
  <ul id="contains">
    <li> 5 root - app.router.ts</li>
    <li> 3 service - services - CartService / LocalStorageService / UserService</li>
    <li> 1 saját direktíva - app.highlighter</li>
    <li> 10 komponens - Cart / Footer / Footermenu / Header / LoginPage / Main / Menu / Products / SingleProduct / Submenu</li>
    <li> 1 login form</li>
    <li> 2 custom pipe - Forint / És termék kereső Pipe</li>
  </ul>
</div>
