
.bookItem{
    list-style: none;
    cursor: pointer;
    transition: all 0.3s;
    margin: auto;
}

.bookItem:before{
    font-family: FontAwesome;
    color: #e95420;
    font-size: 50px;
	content:"\f07a";
	position: absolute;
	top: 138px;
	left: 114px;
    transition: all 200ms ease;
    overflow: hidden;
    opacity: 0;
}
.bookItem:hover:before {
    left: 114px;
    opacity: 1;
}
.bookItem:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
}

.bookItem h2{
    color: #282828;
    font-size: 22px;
    font-family: Roboto;
}

.bookItem h3{
    color: #7c7c7c;
    font-size: 16px;
    font-family: Roboto;
}

.coverphoto{
    width: 100%;
    max-height: 340px;
}
.price{
    color: #e95420;
}