
<div class="container products-list">
    <div class="form-group">
            <h3 id="searchtitle">Keressen termékeink között:</h3>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Könyv neve..." #search  (keyup)="0"/>
            </div>
    </div>
    <ul>
        <div class="row">
            <li class="" *ngFor="let item of cart">
                <p class="price"> {{ item }}</p>
            </li>
        </div>
      </ul>
  <ul>
    <div class="row">

        <li class="bookItem col-md-3" *ngFor="let book of (books | namesearch: search.value )">
            <img class="coverphoto" src={{book.image}} (click)="addToCart(book)"/> 
            <h2 class="booktitle" (click)="goToSingleProduct(book.id)">{{ book.title }}</h2>
            <h3>{{ book.description }}</h3>
            <p class="price"> {{ book.price | forint }}</p>
        </li>
    </div>
  </ul>
</div>

