/* You can add global styles to this file, and also import other style files */
.inputholder input{
    width: 100%;
    height: 47px;
}

.inputholder{
    margin-bottom: 1%
}

#username, #password{
    font-size: 18px;
}

.app-modal-header h2{
    text-align: center;
}

.login-btn {
    margin-top: 2%;
    border: none;
    height: 30px;
    background: #e95620;
    background-image: -webkit-linear-gradient(top, #e95620, #e95620);
    background-image: -moz-linear-gradient(top, #e95620, #e95620);
    background-image: -ms-linear-gradient(top, #e95620, #e95620);
    background-image: -o-linear-gradient(top, #e95620, #e95620);
    background-image: linear-gradient(to bottom, #e95620, #e95620);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 28px 12px 28px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .login-btn:hover {
    background: #f59978;
    background-image: -webkit-linear-gradient(top, #f59978, #eb7e57);
    background-image: -moz-linear-gradient(top, #f59978, #eb7e57);
    background-image: -ms-linear-gradient(top, #f59978, #eb7e57);
    background-image: -o-linear-gradient(top, #f59978, #eb7e57);
    background-image: linear-gradient(to bottom, #f59978, #eb7e57);
    text-decoration: none;
  }

  .navbar{
      margin-bottom: 0 !important;
  }

  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

#welcome{
    text-align: center;
    margin-top: 5%;
}

#description{
    margin-top: 5%;
    margin-bottom: 5%;
}

.aboutthepage{
    font-size: 16px;
}

#dashboard{
    padding-bottom: 70px;
}